@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style type="text/css">
        /*Style form color-profile - Home - Index*/
        body {
            background-color: azure;
        }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script type="text/javascript">
            // Script for Profile - Home - Index
    </script>
}