
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
@section Styles{
    <style type="text/css">
        /*Style form color-profile - Home - Index*/
        body {
            background-color: antiquewhite;
        }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Profile - Home - Index</h1>
</div>
<div id="profile_root"></div>

@await Html.PartialAsync("_Lorem")

@section Scripts{
    <script src="~/js/dist/vendor.bundle.js" asp-append-version="true"></script>
    <script src="~/js/dist/profile.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript">
                            // Script for Profile - Home - Index
    </script>
}