
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
@section Styles{
    <style type="text/css">
        /*Style form color-reports - Home - Index*/
        body {
            background-color: darkgrey;
        }

        .ReactTable {
            background-color: lightyellow;
        }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Reports - Home - Index</h1>
</div>
<div id="reports_root"></div>
@section Scripts{
<script src="~/js/dist/vendor.bundle.js" asp-append-version="true"></script>
<script src="~/js/dist/reports.bundle.js"></script>
<script type="text/javascript">
                        // Script for Reports - Home - Index
</script>
}