<div id="sidedrawer">
    <div id="sidedrawer-brand" style="padding: 0; text-align: right; border-radius: 25px;">
        <a href="#" class="sidedrawer-toggle js-hide-sidedrawer">
            <i class="fas fa-angle-left" style="font-size: 48px;"></i>
            <i class="fas fa-angle-right" style="font-size: 48px;"></i>
        </a>
    </div>
    <ul>
        <li>
            <strong>Category 1</strong>
            <ul style="display: none;">
                <li><a href="#"><i class="fas fa-angle-left" style="font-size: 48px;"></i></a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
        <li>
            <strong>Category 2</strong>
            <ul style="display: none;">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
        <li>
            <strong>Category 3</strong>
            <ul style="display: none;">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
    </ul>
</div>