@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="margin: 20px; margin-top: 0;">
    <h1 class="text-center display-4">@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>