@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style type="text/css">
        /*Style form color - Home - Index*/
        body {
            background-color: azure;
        }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Welcome Home - Index</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="home_root"></div>

@await Html.PartialAsync("_Lorem")

@section Scripts{
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script type="text/babel" src="~/js/dist/index.js" asp-append-version="true">
    </script>

    @*<script type="text/babel">
            ReactDOM.render(<div>Main App - React component</div>, document.getElementById('home_root'));
        </script>*@
    <script type="text/javascript">
// Script for Profile - Home - Index
    </script>
}