<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">React.Core</a>
        @if (User.Identity.IsAuthenticated)
        {
            @await Html.PartialAsync("_Nav")
        }
        else
        {
            @await Html.PartialAsync("_Login")
        }
        </div>
    </nav>
</header>